@import '../../common/common.scss';

.activity-template {
    .sf-list-container,
    .e-list-container {
        padding-top: 0;
    }

    .sf-list-item,
    .e-list-item {
        border: none;
        padding: 0 16px;
        margin-bottom: 10.2px;
        line-height: 18px;

        .activity-container {
            padding: 5px 0;

            &.doctor {
                border-left: 2px solid #E16651;
            }

            &.appointment {
                border-left: 2px solid #5851E1;
            }

            &.patient {
                border-left: 2px solid #51E1B7;
            }

            .activity-message {
                font-weight: 400;
                font-size: 13px;
                letter-spacing: 0.39px;
                line-height: 18px;
                margin-left: 12px;
                padding-bottom: 5px;

                .type-name {
                    font-weight: bold;
                }
            }

            .activity-time {
                font-size: 13px;
                letter-spacing: 0.39px;
                line-height: 18px;
                margin-left: 12px;
            }
        }
    }
}